@{
    ViewData["Title"] = "Profile";
}
<div class="px-6 md:px-16 bg-MyVeryPaleGrey min-h-screen pb-20">

    <div class="grid grid-cols-1 sm:grid-cols-8 gap-6 py-7">
        <div class="col-span-4 lg:col-span-3 xl:col-span-2">
            <div class="bg-white min-w-44-white p-3 border-t-4 border-MyOrange">
                <div class="flex gap-3 items-center">
                    <div class="border border-MyGrey p-1 rounded-sm">
                        <img src="~/images/system/fptdiscussion.jpg" alt="" class="w-20 h-20 rounded-sm object-cover">
                    </div>
                    <div>
                        <p class="font-medium text-lg">Bui Minh</p>
                        <p class="text-sm text-MyDarkGrey">Currently finding a job</p>
                    </div>

                </div>
                <p class="text-sm leading-6 mt-1 mb-5">
                    Lorem ipsum dolor sit amet
                    consectetur adipisicing elit.
                    Reprehenderit, eligendi dolorum sequi illum qui unde aspernatur non deserunt
                </p>
                <ul class="bg-MyPaleOrange py-2 px-3 text-sm">
                    <li class="flex items-center py-3">
                        <span>Status</span>
                        <span class="ml-auto">
                            <span class="bg-MyOrange py-1 px-2 rounded text-white text-sm">Active</span>
                        </span>
                    </li>
                    <li class="flex items-center py-3">
                        <span>Member since</span>
                        <span class="ml-auto">Nov 07, 2016</span>
                    </li>
                </ul>
            </div>
            <div class="bg-white p-5 pb-8 mt-5">
                <p class="text-lg font-bold text-MyOrange mb-5">Social accounts</p>
                <div class="flex flex-col gap-4 text-sm">
                    <div class="flex gap-3 items-center">
                        <div class="w-8 flex justify-center">
                            <i class="text-2xl text-MyOrange fa-brands fa-facebook-f"></i>
                        </div>
                        <div class="w-full">
                            <p class="font-semibold">Facebook account</p>
                            <a href="www.facbook.com/bminh" class="text-MyBlue text-xs underline w-full">www.facbook.com/bminh</a>
                        </div>
                    </div>
                    <div class="flex gap-3 items-center">
                        <div class="w-8 flex justify-center">
                            <i class="text-2xl text-MyOrange fa-brands fa-linkedin-in"></i>
                        </div>
                        <div class="w-full">
                            <p class="font-semibold">Linkedin account</p>
                            <a href="www.facbook.com/bminh" class="text-MyBlue text-xs underline w-full">www.facbook.com/bminh</a>
                        </div>
                    </div>
                    <div class="flex gap-3 items-center">
                        <div class="w-8 flex justify-center">
                            <i class="text-2xl text-MyOrange fa-brands fa-twitter"></i>
                        </div>
                        <div class="w-full">
                            <p class="font-semibold">Twitter account</p>
                            <a href="www.facbook.com/bminh" class="text-MyBlue text-xs underline w-full">www.facbook.com/bminh</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-span-4 lg:col-span-5 xl:col-span-6">
            <div class="flex gap-2 text-sm">
                <button id="profileBtn" class="btnOrange active bg-white py-2 px-4 border rounded-md border-MyGrey hover:border-MyOrange hover:bg-MyPaleOrange">Profile</button>
                <button id="manageCvBtn" class="btnOrange bg-white py-2 px-4 border rounded-md border-MyGrey hover:border-MyOrange hover:bg-MyPaleOrange">Manage CVs</button>
            </div>
            <div id="Profile_section" class="mt-3">
                <div class="bg-white rounded-md p-6">
                    <p class="font-bold text-xl mb-5">General Information</p>
                    <p class="font-semibold mb-1">About me</p>
                    <textarea rows="6" class="w-full outline-MyOrange focus:p-2">Tincidunt quam neque in cursus viverra orci, dapibus nec tristique. Nullam ut sit dolor consectetur urna, dui cras nec sed. Cursus risus congue arcu aenean posuere aliquam.Et vivamus lorem pulvinar nascetur non. Pulvinar a sed platea rhoncus ac mauris amet. Urna, sem pretium sit pretium urna, senectus vitae. Scelerisque fermentum, cursus felis dui suspendisse velit pharetra. Augue et duis cursus maecenas eget quam lectus. Accumsan vitae nascetur pharetra rhoncus praesent dictum risus suspendisse.</textarea>
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-7">
                        <div>
                            <p class="font-medium mb-2">Full Name</p>
                            <input type="text" class="w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="Bui Quang Minh">
                        </div>
                        <div>
                            <p class="font-medium mb-2">Email Address</p>
                            <input type="text" class="w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="minhbee203@gmail.com">
                        </div>
                        <div>
                            <p class="font-medium mb-2">Phone number</p>
                            <input type="text" class="w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="0706162561">
                        </div>
                        <div>
                            <p class="font-medium mb-2">Date Of Birth</p>
                            <input type="date" class="w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="17/09/2003">
                        </div>
                        <div>
                            <p class="font-medium mb-2">Gender</p>
                            <select name="" id="" class="w-full custom-select p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange">
                                <option value="">Male</option>
                                <option value="">Female</option>
                                <option value="">Others</option>
                            </select>
                        </div>
                        <div>
                            <p class="font-medium mb-2">Address</p>
                            <input type="text" class="w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="78 Le Tan Trung, Tho Quang, Son Tra">
                        </div>
                        <div>
                            <p class="font-medium mb-2">Educational Level</p>
                            <select name="" id="" class="w-full custom-select p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange">
                                <option value="">High School</option>
                                <option value="">Master's Degree</option>
                                <option value="">Doctoral Degree</option>
                                <option value="">Professional Degrees</option>
                                <option value="">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex gap-3 mt-8 justify-end text-sm">
                        <button class="btn py-2 px-4" type="submit">Update</button>
                        <button class="bg-MyPaleOrange border border-MyOrange rounded-lg text-MyOrange py-2 px-4" type="submit">Cancel</button>
                    </div>
                </div>
                <div class="bg-white rounded-md mt-4">
                    <div class="flex items-center justify-between p-6">
                        <div>
                            <p class="font-bold text-xl mb-1">Password</p>
                            <p class="text-MyDarkGrey">Introduce your strengths and years of experience</p>
                        </div>
                        <label for="passwordReset" class="hover:cursor-pointer"><i class="text-2xl text-MyOrange fa-regular fa-pen-to-square"></i></label>
                    </div>
                    <input type="checkbox" id="passwordReset" hidden>
                    <div class="h-0.5 w-full bg-MyPaleGrey"></div>
                    <div class="passwordReset hidden p-6">
                        <div class="flex flex-wrap gap-6">
                            <div class="w-full">
                                <p class="font-medium mb-2">Company Website</p>
                                <input type="text" class="w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="minhbee203@gmail.com">
                            </div>
                            <div class="flex w-full gap-6">
                                <div class="w-full">
                                    <p class="font-medium mb-2">Company Website</p>
                                    <input type="text" class="w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="minhbee203@gmail.com">
                                </div>
                                <div class="w-full">
                                    <p class="font-medium mb-2">Company Website</p>
                                    <input type="text" class="w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="minhbee203@gmail.com">
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-3 mt-8 justify-end text-sm">
                            <button class="btn py-2 px-4" type="submit">Update</button>
                            <button class="bg-MyPaleOrange border border-MyOrange rounded-lg py-2 px-4" type="submit">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="bg-white rounded-md mt-4">
                    <div class="flex items-center justify-between p-6">
                        <div>
                            <p class="font-bold text-xl mb-1">Social Links</p>
                            <p class="text-MyDarkGrey">Introduce your strengths and years of experience</p>
                        </div>
                        <label for="socialLink" class="hover:cursor-pointer"><i class="text-2xl text-MyOrange fa-regular fa-pen-to-square"></i></label>
                    </div>
                    <input type="checkbox" id="socialLink" hidden>
                    <div class="h-0.5 w-full bg-MyPaleGrey"></div>
                    <div class="socialLink hidden p-6">
                        <div class="grid grid-cols-2 gap-6">
                            <div class="w-full">
                                <p class="font-medium mb-2">Company Website</p>
                                <div class="relative">
                                    <div class="absolute text-3xl text-MyOrange h-full flex items-center left-3">
                                        <i class="fa-solid fa-square-share-nodes"></i>
                                    </div>
                                    <input type="text" class="pl-12 w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="minhbee203@gmail.com">
                                </div>
                            </div>
                            <div class="w-full">
                                <p class="font-medium mb-2">Facebook</p>
                                <div class="relative">
                                    <div class="absolute text-3xl text-MyOrange h-full flex items-center left-3">
                                        <i class="fa-brands fa-square-facebook"></i>
                                    </div>
                                    <input type="text" class="pl-12 w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="minhbee203@gmail.com">
                                </div>
                            </div>
                            <div class="w-full">
                                <p class="font-medium mb-2">Twitter</p>
                                <div class="relative">
                                    <div class="absolute text-3xl text-MyOrange h-full flex items-center left-3">
                                        <i class="fa-brands fa-square-twitter"></i>
                                    </div>
                                    <input type="text" class="pl-12 w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="minhbee203@gmail.com">
                                </div>
                            </div>
                            <div class="w-full">
                                <p class="font-medium mb-2">Youtube</p>
                                <div class="relative">
                                    <div class="absolute text-3xl text-MyOrange h-full flex items-center left-3">
                                        <i class="fa-brands fa-square-youtube"></i>
                                    </div>
                                    <input type="text" class="pl-12 w-full p-3 rounded-md border border-MyGrey bg-MyVeryPaleGrey focus:bg-MyPaleOrange focus:outline-MyOrange" value="minhbee203@gmail.com">
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-3 mt-8 justify-end text-sm">
                            <button class="btn py-2 px-4" type="submit">Update</button>
                            <button class="bg-MyPaleOrange border border-MyOrange rounded-lg py-2 px-4" type="submit">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="bg-white rounded-md mt-4">
                    <div class="flex items-center justify-between p-6">
                        <div>
                            <p class="font-bold text-xl mb-1">Skills</p>
                            <p class="text-MyDarkGrey">Introduce your strengths and years of experience</p>
                        </div>
                        <label for="educationInfo" class="hover:cursor-pointer"><i class="text-2xl text-MyOrange fa-regular fa-pen-to-square"></i></label>
                    </div>
                    <input type="checkbox" id="educationInfo" hidden>
                    <div class="h-0.5 w-full bg-MyPaleGrey"></div>
                    <div class="educationInfo hidden p-6">
                        <ul class="text-sm flex flex-wrap gap-2 mb-5">
                            <li class="rounded-full px-3 py-2 shadow-normal w-fit">.NET</li>
                            <li class="rounded-full px-3 py-2 shadow-normal w-fit">Team working</li>
                            <li class="rounded-full px-3 py-2 shadow-normal w-fit">React JS</li>
                            <li class="rounded-full px-3 py-2 shadow-normal w-fit">React JS</li>
                            <li class="rounded-full px-3 py-2 shadow-normal w-fit">React JS</li>
                        </ul>
                        <input type="text" placeholder="Type your skill" class="bg-MyPaleOrange outline-MyOrange w-1/2 xl:w-1/3 border border-MyOrange p-2 rounded-md text-sm">
                        <button type="submit" class="btn py-2 px-3 text-sm"><i class="fa-solid fa-circle-plus"></i></button>
                    </div>
                </div>
            </div>
            <div hidden id="ManageCV_section" class="mt-3">
                <div class="bg-white rounded-md p-6">
                    <div class="flex flex-wrap gap-3 text-sm justify-between items-center">
                        <select name="" class="min-w-fit w-28 custom-select p-2 rounded-md bg-MyPaleOrange border border-MyOrange outline-MyOrange">
                            <option selected disabled>Sort Status</option>
                            <option value="">Pending</option>
                            <option value="">On going</option>
                            <option value="">Responsed</option>
                            <option value="">All</option>
                        </select>
                        <ul class="flex gap-2 text-xs">
                            <li class="py-2 px-3 rounded-md bg-MyVeryPaleGrey border border-MyGrey hover:bg-MyPaleOrange hover:border-MyOrange hover:cursor-pointer"><i class="fa-solid fa-angle-left"></i></li>
                            <li class="py-2 px-3 rounded-md bg-MyVeryPaleGrey border border-MyGrey hover:bg-MyPaleOrange hover:border-MyOrange hover:cursor-pointer">1</li>
                            <li class="py-2 px-3 rounded-md bg-MyVeryPaleGrey border border-MyGrey hover:bg-MyPaleOrange hover:border-MyOrange hover:cursor-pointer">2</li>
                            <li class="py-2 px-3 rounded-md bg-MyVeryPaleGrey border border-MyGrey hover:bg-MyPaleOrange hover:border-MyOrange hover:cursor-pointer">3</li>
                            <li class="py-2 px-3 rounded-md bg-MyVeryPaleGrey border border-MyGrey hover:bg-MyPaleOrange hover:border-MyOrange hover:cursor-pointer"><i class="fa-solid fa-angle-right"></i></li>
                        </ul>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="w-full table-auto mt-5">
                            <thead class="text-left text-MyOrange bg-MyPaleOrange">
                                <tr class="">
                                    <th class="p-3 rounded-tl-md">Company</th>
                                    <th class="p-3">Position</th>
                                    <th class="p-3">Status</th>
                                    <th class="p-3 rounded-tr-md">Response</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr class="border border-MyPaleOrange">
                                    <td class="p-3 min-w-56">
                                        <div class="flex gap-3 items-center">
                                            <img src="~/images/system/fptlearn.jpg" alt="" class="w-12 h-12 rounded-full object-cover">
                                            <div class="break-all">
                                                <p class="font-medium">MGM Technology</p>
                                                <p class="text-xs">mgmsupport@gmail.com</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-3">Malcolm Lockyer</td>
                                    <td class="p-3">
                                        <div class="flex gap-2 items-center">
                                            <i class="fa-solid fa-circle text-xs text-MyGreen"></i>
                                            <p>Ongoing</p>
                                        </div>
                                    </td>
                                    <td class="p-3 text-MyBlue underline">View</td>
                                </tr>
                                <tr class="border border-MyPaleOrange">
                                    <td class="p-3 min-w-44">
                                        <div class="flex gap-3 items-center">
                                            <img src="~/images/system/fptlearn.jpg" alt="" class="w-12 h-12 rounded-full object-cover">
                                            <div class="break-all">
                                                <p class="font-medium">MGM Technology</p>
                                                <p class="text-xs">mgmsupport@gmail.com</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-3">Malcolm Lockyer</td>
                                    <td class="p-3">
                                        <div class="flex gap-2 items-center">
                                            <i class="fa-solid fa-circle text-xs text-MyBlue"></i>
                                            <p>Responsed</p>
                                        </div>
                                    </td>
                                    <td class="p-3 text-MyBlue underline">View</td>
                                </tr>
                                <tr class="border border-MyPaleOrange">
                                    <td class="p-3 min-w-44">
                                        <div class="flex gap-3 items-center">
                                            <img src="~/images/system/fptlearn.jpg" alt="" class="w-12 h-12 rounded-full object-cover">
                                            <div class="break-all">
                                                <p class="font-medium">MGM Technology</p>
                                                <p class="text-xs">mgmsupport@gmail.com</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="p-3">Malcolm Lockyer</td>
                                    <td class="p-3">
                                        <div class="flex gap-2 items-center">
                                            <i class="fa-solid fa-circle text-xs text-MyOrange"></i>
                                            <p>Pending</p>
                                        </div>
                                    </td>
                                    <td class="p-3 text-MyBlue underline">View</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#manageCvBtn").click(function () {
                $("#Profile_section").hide();
                $("#ManageCV_section").show();
                $(this).addClass('active');
                $('#profileBtn').removeClass('active');
            });

            $("#profileBtn").click(function () {
                $("#ManageCV_section").hide();
                $("#Profile_section").show();
                $(this).addClass('active');
                $('#manageCvBtn').removeClass('active');
            });
        });
    </script>
}

