:root {
    --orange: #F2721E;
    --pale-orange: #fef1e8 ;
    --dark-blue: #1F2636;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--dark-blue);
}

.btn {
    background-color: var(--orange);
    color: white;
    border-radius: 8px;
    border: 1px solid;
    font-weight: 500;
    border-color: var(--orange);
}
.btn:hover {
    background-color: var(--pale-orange);
    border: 1px solid var(--orange);
    color: var(--orange);
}

/* NavBar */
#mobile_checkbox:checked ~ .nav__overlay  {
    display: block;
}
#mobile_checkbox:checked ~ .mobile_navbar {
    transform: translateX(0);
}

.custom-select {
    appearance: none;
}

#educationInfo:checked ~ .educationInfo {
    display: block;
}

button.active {
    background-color: var(--pale-orange);
    border-color: var(--orange);
}
