@{
    ViewData["Title"] = "Applicants";
}

<div class="px-6 md:px-16">
    <!-- Searching box -->
    <div class="rounded-xl p-5 sm:p-10 bg-cover bg-fixed text-center" style="background-image: linear-gradient(to bottom, rgba(2,79,160), transparent), url(/images/system/fptdiscussion.jpg);">
        <div class="w-full sm:w-11/12 lg:w-4/5 xl:w-3/4 mx-auto">
            <p class="font-semibold text-3xl text-white mb-2"><span class="text-MyOrange">22 Jobs </span>Available Now</p>
            <p class="text-white mb-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni, atque delectus molestias quis
            </p>
            <div class="flex flex-wrap gap-4 text-white items-center justify-center text-sm font-semibold tracking-widest">
                <a href="" class="hover:underline">HOME</a>
                <div>
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="" class="hover:underline">CREATIVE MANAGER</a>
                </div>
                <div>
                    <i class="fa-solid fa-angle-right"></i>
                    <a href="" class="text-MyPaleGrey">CANDIDATE LIST</a>
                </div>
            </div>

        </div>
    </div>

    <!-- Candidate List -->
    <div class="min-h-screen overflow-x-auto">
        <div class="flex gap-3 flex-wrap justify-between items-center mt-6">
            <div>
                <a class="flex gap-1 items-center hover:underline text-MyBlue hover:cursor-pointer text-sm font-semibold">
                    <i class="fa-solid fa-arrow-left"></i>
                    <p>Back</p>
                </a>
                <p class="font-medium text-xl text-MyBlue">Candidate List</p>
            </div>
            <div class="flex flex-wrap gap-3">
                <div class="relative" id="jobType_select">
                    <div class="hover:cursor-pointer text-sm flex items-center justify-between w-36 py-3 px-4 border border-MyBlue rounded-md">
                        <p>Job Type</p>
                        <i class="text-MyDarkGrey fa-solid fa-angle-down"></i>
                    </div>
                    <ul id="jobType_options" class="hidden w-36 absolute text-sm">
                        <li class="mt-1 py-3 px-4 bg-MyPaleBlue rounded-md border border-MyBlue hover:bg-MyBlue hover:text-white hover:cursor-pointer">Full Time</li>
                        <li class="mt-1 py-3 px-4 bg-MyPaleBlue rounded-md border border-MyBlue hover:bg-MyBlue hover:text-white hover:cursor-pointer">Part Time</li>
                        <li class="mt-1 py-3 px-4 bg-MyPaleBlue rounded-md border border-MyBlue hover:bg-MyBlue hover:text-white hover:cursor-pointer">Remote</li>
                    </ul>
                </div>
                <div class="relative" id="jobType_select">
                    <div class="hover:cursor-pointer text-sm flex items-center justify-between w-36 py-3 px-4 border border-MyBlue rounded-md">
                        <p>Sorting</p>
                        <i class="text-MyDarkGrey fa-solid fa-angle-down"></i>
                    </div>
                    <ul id="jobType_options" class="hidden w-36 absolute text-sm">
                        <li class="mt-1 py-3 px-4 bg-MyPaleBlue rounded-md border border-MyBlue hover:bg-MyBlue hover:text-white hover:cursor-pointer">Full Time</li>
                        <li class="mt-1 py-3 px-4 bg-MyPaleBlue rounded-md border border-MyBlue hover:bg-MyBlue hover:text-white hover:cursor-pointer">Part Time</li>
                        <li class="mt-1 py-3 px-4 bg-MyPaleBlue rounded-md border border-MyBlue hover:bg-MyBlue hover:text-white hover:cursor-pointer">Remote</li>
                    </ul>
                </div>
            </div>
        </div>


        <table class="w-full mt-5">
            <thead class="text-left text-MyBlue bg-MyPaleBlue">
                <tr class="">
                    <th class="py-3 px-8 rounded-tl-md">Candidate</th>
                    <th class="py-3">Position</th>
                    <th class="py-3">Status</th>
                    <th class="py-3">Date Applied</th>
                    <th class="py-3 px-5 rounded-tr-md text-center">Application</th>
                </tr>
            </thead>
            <tbody class="pt-3">
                <tr class="border border-MyPaleBlue">
                    <td class="py-5 px-8 min-w-56">
                        <div class="flex gap-3 items-center">
                            <img src="~/images/system/fptdiscussion.jpg" alt="" class="w-14 h-14 rounded-full object-cover p-1 border border-MyDarkGrey">
                            <div class="break-all">
                                <a href="www" class="font-semibold text-lg hover:underline hover:text-MyBlue">Le Thi Tuyet Giang</a>
                                <p class="text-sm text-MyDarkGrey">mgmsupport@gmail.com</p>
                            </div>
                        </div>
                    </td>
                    <td class="py-5 pr-3">Malcolm Lockyer</td>
                    <td class="py-5 pr-3">
                        <div class="flex gap-2 items-center">
                            <i class="fa-solid fa-circle text-xs text-MyGreen"></i>
                            <p>Ongoing</p>
                        </div>
                    </td>
                    <td class="py-5 pr-3">Mar 31, 2021</td>
                    <td class="view_cvFormSubmitted py-5 pr-3 text-MyBlue hover:underline text-center hover:cursor-pointer">View</td>
                </tr>
                <tr class="border border-MyPaleBlue">
                    <td class="py-5 px-8 min-w-56">
                        <div class="flex gap-3 items-center">
                            <img src="~/images/system/fptdiscussion.jpg" alt="" class="w-14 h-14 rounded-full object-cover p-1 border border-MyDarkGrey">
                            <div class="break-all">
                                <a href="www" class="font-semibold text-lg hover:underline hover:text-MyBlue">Le Thi Tuyet Giang</a>
                                <p class="text-sm text-MyDarkGrey">mgmsupport@gmail.com</p>
                            </div>
                        </div>
                    </td>
                    <td class="py-5 pr-3">Malcolm Lockyer</td>
                    <td class="py-5 pr-3">
                        <div class="flex gap-2 items-center">
                            <i class="fa-solid fa-circle text-xs text-MyGreen"></i>
                            <p>Ongoing</p>
                        </div>
                    </td>
                    <td class="py-5 pr-3">Mar 31, 2021</td>
                    <td class="view_cvFormSubmitted py-5 pr-3 text-MyBlue hover:underline text-center hover:cursor-pointer">View</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- CV Form -->
    <div id="cvFormSubmitted" class="hidden absolute top-0 bottom-0 left-0 right-0 bg-black bg-opacity-50 z-10">
        <div class="bg-white mx-auto w-11/12 md:w-3/4 xl:w-1/2 h-fit rounded-lg mt-14">
            <div class="flex gap-4 items-center justify-between p-3">
                <p class="text-MyBlue text-lg font-semibold">Java Developer (Spring, MySQL) at Giao Hang Tiet Kiem</p>
                <button for="" id="close_cvFormSubmitted" class="text-2xl text-MyDarkGrey hover:cursor-pointer hover:text-MyBlue"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="w-full h-0.5 bg-MyVeryPaleGrey"></div>
            <div class="px-5 pb-4">
                <div class="py-3 text-center">
                    <p class="font-medium">Review your application</p>
                    <p class="text-sm text-MyDarkGrey">The employer will also receive a copy of your profile</p>
                </div>
                <div class="h-0.5 w-full bg-MyPaleGrey"></div>
                <div class="py-4">
                    <p class="font-medium">General Info</p>
                    <p class="text-sm text-MyDarkGrey">You should verify your information correcly</p>
                    <div class="flex flex-col gap-4 mt-3">
                        <div class="flex flex-wrap sm:flex-nowrap gap-4">
                            <div class="w-full border border-MyBlue rounded-sm py-1.5 px-3">
                                <p class="text-xs text-MyDarkGrey">Your name <span class="text-red-600">*</span></p>
                                <input type="text" disabled class="w-full outline-none text-sm font-medium" value="Bui Quang Minh">
                            </div>
                            <div class="w-full border border-MyBlue rounded-sm py-1.5 px-3">
                                <p class="text-xs text-MyDarkGrey">Your phone number <span class="text-red-600">*</span></p>
                                <input type="text" disabled class="w-full outline-none text-sm font-medium" value="0706162561">
                            </div>
                        </div>
                        <div class="w-full border border-MyBlue rounded-sm py-1.5 px-3">
                            <p class="text-xs text-MyDarkGrey">Your gmail <span class="text-red-600">*</span></p>
                            <input type="text" disabled class="w-full outline-none text-sm font-medium" value="minhbee203@gmail.com">
                        </div>
                    </div>
                </div>
                <div class="w-full h-0.5 bg-MyVeryPaleGrey"></div>
                <div class="py-4">
                    <p class="font-medium">Resume</p>
                    <p class="text-sm text-MyDarkGrey">You should verify your information correcly</p>
                    <a href="" class="font-semibold flex gap-1 items-center mt-3 text-MyBlue text-sm">
                        <i class="fa-solid fa-cloud-arrow-down"></i>
                        <span class="underline"> Download Resume</span>
                    </a>
                </div>
                <div class="w-full h-0.5 bg-MyVeryPaleGrey"></div>
                <div class="py-4">
                    <p class="font-medium">Response</p>
                    <p class="text-sm text-MyDarkGrey">You should verify your information correcly</p>
                    <textarea name="" id="" rows="5" class="resize-none p-2 outline-MyBlue text-sm w-full border border-MyBlue rounded-md mt-3"></textarea>
                </div>
                <button class="border border-MyBlue bg-MyPaleBlue rounded-md hover:bg-MyBlue hover:text-white w-full py-3 text-sm">Response</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/employer.js"></script>
}